[submodule "runtime/Externals/Vulkan"]
	path = runtime/Externals/Vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "runtime/Externals/microprofile"]
	path = runtime/Externals/microprofile
	url = https://github.com/zeux/microprofile.git
[submodule "runtime/Externals/openvr"]
	path = runtime/Externals/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "components/xrizer"]
	path = components/xrizer
	url = https://github.com/Villagers654/xrizer.git
